# Continue Statement

In [1]:
for i in "Python":
    print(i)

P
y
t
h
o
n

In [2]:
for i in "Python":
   
    if i == "t":
        continue
    else:
        print(i)

P
y
h
o
n

In [3]:
a = [1,2,12,12,11,23,45,2,55,3,2]
a

[1, 2, 12, 12, 11, 23, 45, 2, 55, 3, 2]

In [4]:
a * 2

[1, 2, 12, 12, 11, 23, 45, 2, 55, 3, 2, 1, 2, 12, 12, 11, 23, 45, 2, 55, 3, 2]

In [5]:
a + 2

TypeError: can only concatenate list (not "int") to list

In [6]:
for i in range(3):
    print(i)

0
1
2

In [7]:
for i in a:
    print(i * 2)

2
4
24
24
22
46
90
4
110
6
4

# While Loop

In [8]:
b = 0

while b != 5: #loops until the value of b becomes 5
    print(b)
    b += 1

0
1
2
3
4

In [9]:
b

5

In [10]:
import random
secret_number = random.randint(10, 100)

In [6]:
while guess != secret_number:
    
    guess = int(input("\nGuess a number between 10 to 100: "))
    
    if guess > secret_number:
        print("\nGuess lesser")
    elif guess < secret_number:
        print("\nGuess higher")
    else:
        print("\nGood job, you've guessed it correctly")

Guess a number between 10 to 100: 95

Guess lesser

Guess a number between 10 to 100: 85

Guess lesser

Guess a number between 10 to 100: 55

Guess lesser

Guess a number between 10 to 100: 35

Guess lesser

Guess a number between 10 to 100: 25

Guess lesser

Guess a number between 10 to 100: 15

Guess higher

Guess a number between 10 to 100: 20

Guess lesser

Guess a number between 10 to 100: 18

Guess lesser

Guess a number between 10 to 100: 17

Good job, you've guessed it correctly

### 6. Create a python if-else program to check if the given numbers are greater or not, also check whether the given number is an armstrong number or not, and check whether the given number is a prime number or not. Make use of python if-else, and elif statements for the same

In [11]:
a

[1, 2, 12, 12, 11, 23, 45, 2, 55, 3, 2]

In [12]:
ip = int(input("Please enter a whole number: "))

for i in a:
    if ip > i:
        print(f"{ip} is greater than {i}")
    else:
        continue

Please enter a whole number: 4
4 is greater than 1
4 is greater than 2
4 is greater than 2
4 is greater than 3
4 is greater than 2

In [13]:
# Armstrong Number
153
1 ** 3 + 5 ** 3 + 3 ** 3
1 + 125 + 27
125 + 27
153

153

In [14]:
# Prime number
# a number divisible by itself and by 1
7
2
3
4
5
6
7

7

In [15]:
ip = input("Please enter a whole number: ")

total = 0

for i in ip:
#     print(int(i) ** len(ip))
    total += int(i) ** len(ip)
    
# print("Combined Value of all the values are", total)

if total == int(ip):
    print("Armstrong number")
else:
    print("not an armstrong number")

Please enter a whole number: 5
Armstrong number

# Prime Number

In [16]:
ip = int(input("Please enter a whole number: "))

if ip > 1:
    for i in range(2, ip):
        if (ip % i) == 0:
            print(f"{ip} is not a Prime number")
            break
    else:
        print(f"{ip} is a Prime number")
else:
    print(f"{ip} is not a Prime number")

Please enter a whole number: 3
3 is a Prime number

### 8. Create a fibonacci sequence using python if-else statements.
### 9. Create a nested dictionary with values as a nested list for each key in the dictionary.
### 10. Create two sets and perform the following: 
* Union of the two sets
* Intersection of the two sets

# 8. Create a fibonacci sequence using python if-else statements.

In [17]:
seqnum = int(input("Please enter how many Fibnocci Values you need: "))

n1 = 0
n2 = 1

total = 0

if seqnum == 0 :
    print("Supply a number greater than zero")
elif seqnum == 1:
    print("First Fibnocci value is, 0")
else:
    print("Fibnocci Series are: ")
    while total < seqnum:
        print(n1, end = ", ")
        third_val = n1 + n2
        n1 = n2
        n2 = third_val
        total += 1

Please enter how many Fibnocci Values you need: 5
Fibnocci Series are:
0, 1, 1, 2, 3,

In [18]:
0,1,1,2,3,5,8

(0, 1, 1, 2, 3, 5, 8)

In [19]:
seqnum = int(input("Please enter how many Fibnocci Values you need: "))

n1, n2 = 0, 1

total = 0

while total < seqnum:
    
    print(n1)
    third_val = n1 + n2
#     print("Third Value", third_val)
    n1 = n2
#     print("After Modifying", n1)
    n2 = third_val
#     print("After Modifying", n2)
    total += 1

Please enter how many Fibnocci Values you need: 2
0
1

# 9. Create a nested dictionary with values as a nested list for each key in the dictionary.

In [20]:
dd = {"Topics" : [["Data Structures"], ['Lists', 'Tuples', 'Sets']], "Subject" : {"Maths" : 15, "Physics" : 25, "Science" : 40}}
dd

{'Topics': [['Data Structures'], ['Lists', 'Tuples', 'Sets']],
 'Subject': {'Maths': 15, 'Physics': 25, 'Science': 40}}

In [21]:
dd['Topics']

[['Data Structures'], ['Lists', 'Tuples', 'Sets']]

In [22]:
dd['Topics'][0]

['Data Structures']

In [23]:
dd['Topics'][1]

['Lists', 'Tuples', 'Sets']

In [24]:
dd['Topics'][1][1]

'Tuples'

In [25]:
dd['Subject']

{'Maths': 15, 'Physics': 25, 'Science': 40}

In [26]:
dd['Subject']['Physics']

25

In [27]:
a = set(range(10, 15))
b = set(range(13, 18))
print(a)
print(b)

{10, 11, 12, 13, 14}
{13, 14, 15, 16, 17}

In [28]:
a.union(b)

{10, 11, 12, 13, 14, 15, 16, 17}

In [29]:
a.intersection(b)

{13, 14}